body {
  text-align: center;
  font-family: "Gotu", sans-serif;
}

img {
  height: 300px;
  width: 300px;
  border: 0px;
}

#pics {
  width: 900px;
  height: 900px;
  border: 1px solid black;
  font-size: 0px;
  margin: auto;
}
