body {
  background-color: #232323;
  font-family: "Nunito", sans-serif;
}

h1 {
  color: white;
}

a {
  color: white;
}

span {
  padding-left: 20px;
}

#conditioncontainer {
  display: flex;
  justify-content: center;
}

#container {
  max-width: 700px;
  margin: 0 auto;
}

#scorecontainer {
  border: 1px solid white;
  width: 160px;
  color: white;
  padding: 20px;
  font-size: 2em;
  border-radius: 40px;
}

#lifescontainer {
  border: 1px solid white;
  width: 160px;
  color: white;
  padding: 20px;
  font-size: 2em;
  border-radius: 40px;
}

#scorelifes {
  display: flex;
  justify-content: space-evenly;
}

.square {
  width: 29%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border: 2px solid black;
  border-radius: 40px;
}
